.tabs-block {
    width: 100%;
    overflow: hidden;
    @include max(768) {
        overflow: visible;
    }
    .tabs {
        border-bottom: 1px solid #D5D6D9;
        @include max(768) {
            margin-left: -20px;
            margin-right: -20px;
            padding-left: 20px;
            padding-right: 20px;
        }
        &__tab {
            max-width: fit-content;
            display: flex;
            padding-bottom: 12px;
            bottom: -2px;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            border-bottom: 3px solid transparent;
            transition: all 0.3s linear;
            margin-right: 40px;
            @include max(1024) {
                padding-bottom: 12px;
                bottom: -2px;
                gap: 10px;
            }
            @include max(768) {
                padding-bottom: 10px;
                bottom: -2px;
                gap: 10px;
            }
            &.swiper-slide-thumb-active {
                border-color: $c-blue;
                .tabs__name {
                    color: $c-blue;
                }
                .tabs__counter {
                    background-color: $c-blue;
                }
            }

        }
        &__name {
            font-size: 20px;
            font-weight: 600;
            line-height: 1.35;
            color: #B0B2B7;
            transition: color 0.3s linear;
            white-space: nowrap;
            @include max(1024) {
                font-size: 18px;
            }
            @include max(768) {
                font-size: 16px;
            }
        }
        &__counter {
            padding: 1px 5px 0;
            font-size: 12px;
            font-weight: 700;
            line-height: 1.34;         
            color: white;
            background-color: #B0B2B7;
            border-radius: 4px;
            transition: background-color 0.3s linear;
            @include max(1024) {
                padding: 1px 5px 0;
                font-size: 12px;
                border-radius: 4px;
            }
            @include max(768) {
                padding: 3px 5px 2px;
                font-size: 12px;
                border-radius: 4px;
                line-height: 1em;
            }
        }
    }
    &__slides {
        margin-top: 40px;
        @include max(1024) {
            margin-top: 40px;
        }
        @include max(768) {
            margin-top: 20px;
        }
    }
    .slides {
        &__slide {
            background: white;
            &:not(.swiper-slide-active) {
                opacity: 0 !important;
                z-index: -10;
            }
        }
    }
}