.socials {
    display: flex;
    align-items: center;
    gap: 15px;
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: rgb(240, 240, 240);
        transition: background-color 0.3s linear;
        @include hover() {
            background-color: #000;
        }
    }
    &__icon {
        width: 25px;
        height: 25px;
        svg {
            width: 100%;
            height: 100%;
        }
    }

}