mixin mixins
    //- компоненты
    include ../../blocks/components/title/title
    include ../../blocks/components/form/form
    include ../../blocks/components/field-file/field-file
    include ../../blocks/components/field/field
    include ../../blocks/components/btn/btn
    include ../../blocks/components/breadcrumbs/breadcrumbs
    include ../../blocks/components/text-editor/text-editor
    include ../../blocks/components/gallery-card/gallery-card
    include ../../blocks/components/images-grid/images-grid
    include ../../blocks/components/up-btn/up-btn
    include ../../blocks/components/pagination/pagination
    include ../../blocks/components/select/select
    include ../../blocks/components/amount-input/amount-input
    include ../../blocks/components/slider-btn/slider-btn
    include ../../blocks/components/tabs-block/tabs-block
    include ../../blocks/components/spoiler/spoiler
    //-include ../../blocks/components/contact/contact
    //-include ../../blocks/components/download-btn/download-btn
    //-include ../../blocks/components/card-arrow/card-arrow
    //-include ../../blocks/components/link-card/link-card
    //-include ../../blocks/components/news-card/news-card
    //-include ../../blocks/components/modal/modal
    //-include ../../blocks/components/badge/badge
    //-include ../../blocks/components/image-slider/image-slider

    //- модули
    //-include ../../blocks/modules/a-news-slider/a-news-slider
    //-include ../../blocks/modules/services-sidebar/services-sidebar
    //-include ../../blocks/modules/sidemenu/sidemenu