-
    const defaultFormProps = {
        classes: '',
        title: '',
        text: '',
        btnText: ''
    }

mixin form(props = defaultFormProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultFormProps.classes,
            title: props.title ? props.title : defaultFormProps.title,
            text: props.text ? props.text : defaultFormProps.text,
            btnText: props.btnText ? props.btnText : defaultFormProps.btnText,
        }

    form.form(action="#" class= checkProps.classes data-validate novalidate)&attributes(attributes)
        .form__title!= checkProps.title 
        .form__text!= checkProps.text
        .form__fields
            block
        +btn({
            classes: 'form__submit',
            tag: 'button',
            buttonType: 'submit',
            vMode: 'btn',
            text: checkProps.btnText,
            cMode: 'blue',
        })
        .form__privacy
            p!= 'Я согласен с условиями <a href="#" target="_blank">Политики обработки персональных данных</a>'