extends ../layouts/default

block variables
    - const title = "Файлы"

block content
    section.tooltip-page
        .container.tooltip-page__container
            .component-preview
                +title({
                    classes: 'component-preview__title',
                    tag: 'h4',
                    text: 'Кнопки загрузки файлов'
                })
                .component-preview__flex
                    +download-btn({
                        classes: '',
                        text: 'Название файла с заголовками',
                        type: 'PDF',
                        size: '1.49 МБ',
                        date: '27.05.2024',
                        iconName: 'download',
                        isImage: false,
                        withTitles: true
                    })
                    +download-btn()
