extends ../layouts/default

block variables
    - const title = "Формы и поля"

block content
    section.form-page
        .container.form-page__container
            +form({
                classes: '',
                title: 'Форма',
                text: 'Форма со всеми возможными полями',
                btnText: 'Отправить'
            })
                +field({
                    classes: '',
                    type: 'text',
                    title: 'Ф.И.О.',
                    placeholder: '',
                    inputAttr: {
                        'required': ''
                    },
                    resetBtn: false,
                    isRequired: true
                })
                +field({
                    classes: '',
                    type: 'tel',
                    title: 'Телефон',
                    placeholder: 'Номер телефона',
                    inputAttr: {
                        'data-type': 'phoneNumber',
                        'required': '',
                        'data-v-name': 'phone'
                    },
                    resetBtn: false,
                    isRequired: true
                })
                +field({
                    classes: '',
                    type: 'email',
                    title: 'Email',
                    placeholder: 'Email',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'email'
                    },
                    resetBtn: false,
                    isRequired: true
                }) 
                +field({
                    classes: '',
                    type: 'text',
                    title: 'Дата без календаря с проверкой максимальной даты',
                    placeholder: 'дд.мм.гггг',
                    inputAttr:  {
                        'data-type': 'date',
                        'required': '',
                        'data-v-name': 'date-max',
                        'data-config': {
                            time: false,
                            calendar: false,
                            /*"single", "multiple", or "range"*/
                            mode: 'single' 
                        }
                    },
                    resetBtn: false,
                    isRequired: true
                })
                +field({
                    classes: '',
                    type: 'text',
                    title: 'Дата c календарём',
                    placeholder: 'дд.мм.гггг',
                    inputAttr:  {
                        'data-type': 'date',
                        'required': '',
                        'data-v-name': 'date',
                        'data-config': {
                            time: false,
                            calendar: true,
                            /*"single", "multiple", or "range"*/
                            mode: 'single' 
                        }
                    },
                    resetBtn: false,
                    isRequired: true
                }) 
                +field({
                    classes: '',
                    type: 'text',
                    title: 'Дата и время',
                    placeholder: 'дд.мм.гггг чч:мм',
                    inputAttr:  {
                        'data-type': 'date',
                        'required': '',
                        'data-v-name': 'datetime',
                        'data-config': {
                            time: true,
                            calendar: true,
                            /*"single", "multiple", or "range"*/
                            mode: 'single' 
                        }
                    },
                    resetBtn: false,
                    isRequired: true
                })
                +field({
                    classes: '',
                    type: 'text',
                    title: 'Несколько дат',
                    placeholder: 'дд.мм.гггг',
                    inputAttr:  {
                        'data-type': 'date',
                        'required': '',
                        'data-config': {
                            time: false,
                            calendar: true,
                            /*"single", "multiple", or "range"*/
                            mode: 'multiple' 
                        }
                    },
                    resetBtn: false,
                    isRequired: true
                })
                +field({
                    classes: '',
                    type: 'text',
                    title: 'Диапазон дат',
                    placeholder: 'дд.мм.гггг to дд.мм.гггг',
                    inputAttr:  {
                        'data-type': 'date',
                        'required': '',
                        'data-config': {
                            time: false,
                            calendar: true,
                            /*"single", "multiple", or "range"*/
                            mode: 'range' 
                        }
                    },
                    resetBtn: false,
                    isRequired: true
                })
                +field({
                    classes: '',
                    tag: 'select',
                    title: 'Образование',
                })  
                +field({
                    classes: '',
                    tag: 'textarea',
                    title: 'Коментарий',
                })
                +field-file({
                    classes: '',
                    type: 'file',
                    title: 'Прикрепить файл',
                    placeholder: 'Запрос на изготовление продукции',
                    inputAttr: {
                        'required': '',
                        'data-v-name': 'file',
                        'data-size': '10485760',
                        'accept': 'image/*, text/plain, .docx, .pdf'
                    },
                    resetBtn: false,
                    isRequired: true
                })

            .form-page__center
                +form({
                    classes: '',
                    title: 'Свяжитесь с нами',
                    text: 'Отправьте заявку и мы с Вами свяжемся',
                    btnText: 'Отправить',
                    innerThanks: true
                })
                    +field({
                        classes: '',
                        type: 'text',
                        title: 'Ф.И.О.',
                        placeholder: '',
                        inputAttr: {
                            'required': ''
                        },
                        resetBtn: false,
                        isRequired: true
                    })
                    +field({
                        classes: '',
                        type: 'tel',
                        title: 'Телефон',
                        placeholder: 'Номер телефона',
                        inputAttr: {
                            'data-type': 'phoneNumber',
                            'required': '',
                            'data-v-name': 'phone'
                        },
                        resetBtn: false,
                        isRequired: true
                    })
                    +field({
                        classes: '',
                        type: 'email',
                        title: 'Email',
                        placeholder: 'Email',
                        inputAttr: {
                            'required': '',
                            'data-v-name': 'email'
                        },
                        resetBtn: false,
                        isRequired: true
                    })
            .form-page__right
                div
                    +select()
                +amount-input()
                +dropdown()


    include ../../blocks/components/thanks-message/thanks-message			
