extends ../layouts/default


block variables
	- const title = "Сайдбар, боковое меню, модально окно, мобильное меню"

block content
	+mixins()
	section.layout-sidebar-page
		.container.layout-sidebar-page__container
			+layout-sidebar({
				isSticky: true
			})
				.component-preview
					+title({
						classes: 'component-preview__title',
						tag: 'h4',
						text: 'Мобильное меню'
					})
					.component-preview__flex
						+btn({
							tag: 'button',
							vMode: 'icon',
							text: '',
							cMode: 'white',
							icon: true,
							iconName: 'mobile_menu'
						})(data-modal="#mobileMenuMain")
						+btn({
							tag: 'button',
							vMode: 'icon',
							text: '',
							cMode: 'white',
							icon: true,
							iconName: 'search'
						})(data-modal="#mobileMenuSearch")
				.component-preview
					+title({
						classes: 'component-preview__title',
						tag: 'h4',
						text: 'Модальное окно'
					})
					+btn({
						text: 'Открыть окно',
						tag: 'button',
					})(data-modal="#myModal")
				.component-preview
					+title({
						classes: 'component-preview__title',
						tag: 'h4',
						text: 'Просто текст для высоты, чтобы работало закреплённое меню'
					})
					+text-editor()
						p Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: постоянное информационно-пропагандистское обеспечение нашей деятельности является качественно новой ступенью вывода текущих активов. Наше дело не так однозначно, как может показаться: понимание сути ресурсосберегающих технологий способствует повышению качества направлений прогрессивного развития. В своём стремлении улучшить пользовательский опыт мы упускаем, что базовые сценарии поведения пользователей набирают популярность среди определенных слоев населения, а значит, должны быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Безусловно, синтетическое тестирование требует анализа системы массового участия. Мы вынуждены отталкиваться от того, что граница обучения кадров играет важную роль в формировании новых принципов формирования материально-технической и кадровой базы. Также как современная методология разработки позволяет оценить значение поэтапного и последовательного развития общества.

						p Учитывая ключевые сценарии поведения, разбавленное изрядной долей эмпатии, рациональное мышление представляет собой интересный эксперимент проверки системы обучения кадров, соответствующей насущным потребностям. А ещё многие известные личности являются только методом политического участия и ассоциативно распределены по отраслям.

						p Современные технологии достигли такого уровня, что сложившаяся структура организации напрямую зависит от форм воздействия. А ещё диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть функционально разнесены на независимые элементы. И нет сомнений, что интерактивные прототипы призывают нас к новым свершениям, которые, в свою очередь, должны быть объективно рассмотрены соответствующими инстанциями. Ясность нашей позиции очевидна: внедрение современных методик создаёт предпосылки для приоретизации разума над эмоциями.

						p Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: постоянное информационно-пропагандистское обеспечение нашей деятельности является качественно новой ступенью вывода текущих активов. Наше дело не так однозначно, как может показаться: понимание сути ресурсосберегающих технологий способствует повышению качества направлений прогрессивного развития. В своём стремлении улучшить пользовательский опыт мы упускаем, что базовые сценарии поведения пользователей набирают популярность среди определенных слоев населения, а значит, должны быть смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Безусловно, синтетическое тестирование требует анализа системы массового участия. Мы вынуждены отталкиваться от того, что граница обучения кадров играет важную роль в формировании новых принципов формирования материально-технической и кадровой базы. Также как современная методология разработки позволяет оценить значение поэтапного и последовательного развития общества.

						p Учитывая ключевые сценарии поведения, разбавленное изрядной долей эмпатии, рациональное мышление представляет собой интересный эксперимент проверки системы обучения кадров, соответствующей насущным потребностям. А ещё многие известные личности являются только методом политического участия и ассоциативно распределены по отраслям.

						p Современные технологии достигли такого уровня, что сложившаяся структура организации напрямую зависит от форм воздействия. А ещё диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть функционально разнесены на независимые элементы. И нет сомнений, что интерактивные прототипы призывают нас к новым свершениям, которые, в свою очередь, должны быть объективно рассмотрены соответствующими инстанциями. Ясность нашей позиции очевидна: внедрение современных методик создаёт предпосылки для приоретизации разума над эмоциями.