extends ../layouts/default

block variables
	- const title = "Слайдеры"

block content
	section.sliders-page
		.container.sliders-page__container
			.component-preview
				+title({
					classes: 'component-preview__title',
					tag: 'h4',
					text: 'Слайдер изображений и видео'
				})
				+media-slider({
					classes: 'social__slider',
					fancyGroup: 'mediaSlider',
					slides: [
						{
							image: 'img/slider/slider_1.jpg',
							mMode: 'image'
						},
						{
							image: 'img/slider/slider_2.jpg',
							title: 'Заголовок слайда',
							mMode: 'image'
						},
						{
							image: 'img/slider/slider_3.jpg',
							title: 'Заголовок слайда',
							text: 'Также как начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации экспериментов, поражающих по своей масштабности и грандиозности!',
							mMode: 'image'
						},
						{	image: 'img/slider/slider_4.jpg',
							video: 'video/video',
							mMode: 'video'
						},
						{
							image: 'img/slider/slider_5.jpg',
							video: 'video/video',
							title: 'Заголовок слайда',
							mMode: 'video'
						},
						{
							image: 'img/slider/slider_6.jpg',
							video: 'video/video',
							title: 'Заголовок слайда',
							text: 'Также как начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации экспериментов, поражающих по своей масштабности и грандиозности!',
							mMode: 'video'
						},
					],
				})
