extends ../layouts/default

block variables
	- const title = "Спойлеры"

block content
	section.spoilers-page
		.container.spoilers-page__container(data-js="accordion")
			+spoiler({
				classes: '',
				title: 'Спойлер со стрелкой',
				iconName: 'card_arrow',
				iconRotate: true
			})
				+text-editor()
					h3 Контент спойлера

			+spoiler({
				classes: '',
				title: 'Спойлер с подменой иконки',
				iconName: 's-plus',
				icon2Name: 's-minus',
				iconRotate: false
			})
				+text-editor()
					h3 Контент спойлера

			+spoiler({
				classes: '',
				title: 'Пустой спойлер',
				iconName: 'card_arrow',
				iconRotate: true,
				isEmpty: true
			})

			+spoiler({
				classes: '',
				title: 'Спойлер с картинкой',
				iconName: 'card_arrow',
				iconRotate: true,
				image: true,
				imagePath: 'img/gallery/gallery_1.jpg',
			})
				+text-editor()
					h3 Контент спойлера

			+spoiler({
				classes: '',
				title: 'Вложенные спойлеры',
				iconName: 's-plus',
				icon2Name: 's-minus',
				iconRotate: false
			})
				.inner-spoilers
					+spoiler({
						classes: 'inner-spoilers__content',
						title: 'Вложенные спойлеры',
						iconName: 's-plus',
						icon2Name: 's-minus',
						iconRotate: false
					})
						+text-editor()
							h3 Контент спойлера					

					+spoiler({
						classes: 'inner-spoilers__content',
						title: 'Вложенные спойлеры',
						iconName: 's-plus',
						icon2Name: 's-minus',
						iconRotate: false
					})
						+text-editor()
							h3 Контент спойлера

			.text-editor
				h2 Спойлер "Показать ещё"
				p Повседневная практика показывает, что внедрение современных методик предполагает независимые способы реализации модели развития. А ещё тщательные исследования конкурентов, превозмогая сложившуюся непростую экономическую ситуацию, своевременно верифицированы. Каждый из нас понимает очевидную вещь: высококачественный прототип будущего проекта, в своём классическом представлении, допускает внедрение модели развития. Как принято считать, активно развивающиеся страны третьего мира и по сей день остаются уделом либералов, которые жаждут быть объединены в целые кластеры себе подобных. Но глубокий уровень погружения выявляет срочную потребность поэтапного и последовательного развития общества. Задача организации, в особенности же высококачественный прототип будущего проекта говорит о возможностях распределения внутренних резервов и ресурсов.

				+spoiler({
					classes: 'projects__more',
					iconRotate: true,
					isShowMore: true
				})
					.text-editor
						p Следует отметить, что синтетическое тестирование обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Сложно сказать, почему интерактивные прототипы преданы социально-демократической анафеме. В рамках спецификации современных стандартов, предприниматели в сети интернет лишь добавляют фракционных разногласий и смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Наше дело не так однозначно, как может показаться: высокое качество позиционных исследований в значительной степени обусловливает важность форм воздействия. Как принято считать, действия представителей оппозиции заблокированы в рамках своих собственных рациональных ограничений. Господа, современная методология разработки играет определяющее значение для новых принципов формирования материально-технической и кадровой базы.
