extends ../layouts/default

block variables
	- const title = "Заголовки"

block content
	section.titles
		.container.titles__container
			+title({
				classes: '',
				tag: 'h1',
				text: 'Заголовок первого уровня'
			})
			+title({
				classes: '',
				tag: 'h2',
				text: 'Заголовок второго уровня'
			})
			+title({
				classes: '',
				tag: 'h3',
				text: 'Заголовок третьего уровня'
			})
			+title({
				classes: '',
				tag: 'h4',
				text: 'Заголовок четвёртого уровня'
			})
			+title({
				classes: '',
				tag: 'h5',
				text: 'Заголовок пятого уровня'
			})
			+title({
				classes: '',
				tag: 'h6',
				text: 'Заголовок шестого уровня'
			})
