extends ../layouts/default

block variables
    - const title = "Тултипы"

block content
    section.tooltip-page
        .container.tooltip-page__container
            .component-preview
                +title({
                    classes: 'component-preview__title',
                    tag: 'h4',
                    text: 'Тултипы'
                })
                .component-preview__flex
                    +tooltip({
                        name: 'Подсказка'
                    })
                    +tooltip({
                        noLink: true
                    })
