.up-btn {
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
    z-index: 30;
    width: 60px;
    margin-left: auto;
    @include max(1024) {
        width: 50px;
    }
    @include max(768) {
        display: none;
    }
    &__btn.btn {
        width: 60px;
        height: 60px;
        background-color: darkblue;
        border: 1px solid #DDEEFF;
        border-radius: 100%;
        @include max(1024) {
            width: 50px;
            height: 50px;
        }
        .btn__icon {
            color: white;
            width: 24px;
            height: 24px;
            @include max(1024) {
                width: 20px;
                height: 20px;
            }
        }
    }
}