extends layouts/default

block variables
	- const title = "Компоненты"

block content
	.page.components-page
		section.components-list
			.container
				+title({
					classes: 'components-page__title',
					tag: 'h1',
					text: 'Компоненты'
				})
				.components-page__links
					a.components-page__link(href="titles.html") Заголовки
					a.components-page__link(href="breadcrumbs.html") Хлебные крошки
					a.components-page__link(href="pagination.html") Пагинация
					a.components-page__link(href="buttons.html") Кнопки
					a.components-page__link(href="files.html") Файлы
					a.components-page__link(href="contacts.html") Контакты и социальные сети
					a.components-page__link(href="tooltip.html") Тултипы
					a.components-page__link(href="form.html") Формы и поля
					a.components-page__link(href="text-editor.html") Текстовый редактор + 'Вверх'
					a.components-page__link(href="media.html") Фото и видео
					a.components-page__link(href="sliders.html") Слайдеры
					a.components-page__link(href="tabs.html") Вкладки
					a.components-page__link(href="spoilers.html") Спойлеры
					a.components-page__link(href="intro-slider.html") Интро-слайдер
					a.components-page__link(href="intro-slider-bg.html") Интро-слайдер (только фон)
					a.components-page__link(href="news-card.html") Карточка новостей
					a.components-page__link(href="cookie.html") Cookie
					a.components-page__link(href="layout-sidebar.html") Сайдбар, боковое меню, модально окно, мобильное меню 
