extends layouts/default
include helpers/mixins

block variables
	- const title = "Компоненты"

block content
	+mixins()
	.page.components-page
		section.components-list
			.container
				+title({
					classes: 'components-page__title',
					tag: 'h1',
					text: 'Компоненты'
				})
				.components-page__links
					a.components-page__link(href="titles.html") Заголовки
					a.components-page__link(href="breadcrumbs.html") Хлебные крошки
					a.components-page__link(href="buttons.html") Кнопки
					a.components-page__link(href="form.html") Формы и поля
					a.components-page__link(href="text-editor.html") Текстовый редактор
					a.components-page__link(href="cookie.html") Cookie
