.download-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    min-height: 115px;
    width: 100%;
    padding: 0 30px;
    background-color: lightblue;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;

    @include max(1024) {
        min-width: 600px;
        max-width: 100%;
        min-height: 115px;
        padding: 0 30px;
        border-radius: 15px;
    }
    @include max(768) {
        min-width: 100%;
        min-height: 75px;
        padding: 0 15px;
        border-radius: 10px;
    }
    @include hover() {
        .download-btn__icon {
            background-color: #C2DFFF;
            background-image: none;
            svg {
                color: blue;
            }
        }
    }
    &__column {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        flex-basis: auto;
        flex-shrink: 0;

        @include max(1024) {
            gap: 10px;
        }
        @include max(768) {
            gap: 10px;
        }

    }
    &__column--text {
        margin-right: auto;
        flex-shrink: 1;
    }

    &__title {
        display: none;
        margin-right: auto;
        color: #3F3F3F;
        font-size: 16px;
        line-height: 1.17em;
        font-weight: 400;

        @include max(1024) {
            font-size: 16px;
        }
        @include max(768) {
            font-size: 14px;
        }
    }
    &__value {
        margin-right: auto;
        color: black;
        font-size: 18px;
        line-height: 1.17em;
        font-weight: 600;

        @include max(1024) {
            font-size: 16px;
        }
        @include max(768) {
            font-size: 14px;
        }
    }   
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 44px;
        height: 44px;
        background-color: #C2DFFF;
        background-image: $c-gradient-blue;
        border-radius: 8px;
        transition: background-image 0.3s linear;

        @include max(1024) {
            width: 44px;
            height: 44px;
            border-radius: 8px;
        }
        @include max(768) {
            width: 44px;
            height: 44px;
            border-radius: 8px;
        }
        svg {
            width: 24px;
            height: 24px;
            color: white;

            @include max(1024) {
                width: 24px;
                height: 24px;
                color: white;
            }
            @include max(768) {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.download-btn {
    &--titles &__title {
        display: block;
    }
}
