-
    const defaultPaginationProps = {
        classes: '',
        count: 37
    }

mixin pagination(props = defaultPaginationProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultPaginationProps.classes,
            count: props.count ? props.count : defaultPaginationProps.count,
        }
    .pagination(class= checkProps.classes)
        - let i = 1
            while i <= checkProps.count
                -if(i < 6 || i == checkProps.count)
                    a.pagination__page(href="javascript:void(0);" class= i===1 ? "active" : "")= i
                -if(i == 6)
                    .pagination__separator ...
                - i++