.layout-sidebar {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    @include max(1024) {
        flex-direction: column;
        gap: 20px;
    }
    @include max(768) {
        gap: 15px;
    }
    &__main {
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;
        @include max(1024) {
            display: contents;
        }
    }
    &__sidebar {
        flex-basis: 445px;
        flex-grow: 0;
        flex-shrink: 0;
        align-self: stretch;
        @include max(1024) {
            display: contents;
            flex-basis: auto;
        }
    }
    &__sticky {
        position: sticky;
        top: 100px;
        @include max(1024) {
            position: relative;
            top: 0;
        }
    }
}
