footer.site-footer
	.container.site-footer__container
		.site-footer__top
			.site-footer__column
				.site-footer__logo
					img(src="img/svg/logo.svg" alt="logotype")
			.site-footer__column
				ul.footer-menu
					li.footer-menu__item
						.site-footer__subtitle.footer-menu__subtitle Заголовок 1
						ul.footer-menu.footer-menu--inner
							li.footer-menu__item
								a(href="javascript:void(0)").site-footer__link.site-footer__link--text Пункт 1
							li.footer-menu__item
								a(href="javascript:void(0)").site-footer__link.site-footer__link--text Пункт 2
							li.footer-menu__item
								a(href="javascript:void(0)").site-footer__link.site-footer__link--text Пункт 3
							li.footer-menu__item
								a(href="javascript:void(0)").site-footer__link.site-footer__link--text Пункт 4
							li.footer-menu__item
								a(href="javascript:void(0)").site-footer__link.site-footer__link--text Пункт 5
							li.footer-menu__item
								a(href="javascript:void(0)").site-footer__link.site-footer__link--text Пункт 6
							li.footer-menu__item
								a(href="javascript:void(0)").site-footer__link.site-footer__link--text Пункт 7
							li.footer-menu__item
								a(href="javascript:void(0)").site-footer__link.site-footer__link--text Пункт 8
							li.footer-menu__item
								a(href="javascript:void(0)").site-footer__link.site-footer__link--text Пункт 9
			.site-footer__column
				ul.footer-menu
					li.footer-menu__item
						.site-footer__subtitle.footer-menu__subtitle Заголовок 2
						ul.footer-menu.footer-menu--inner
							li.footer-menu__item
								a(href="javascript:void(0)").site-footer__link.site-footer__link--text Пункт 1
							li.footer-menu__item
								a(href="javascript:void(0)").site-footer__link.site-footer__link--text Пункт 2							
							li.footer-menu__item
								a(href="javascript:void(0)").site-footer__link.site-footer__link--text Пункт 3
							li.footer-menu__item
								a(href="javascript:void(0)").site-footer__link.site-footer__link--text Пункт 4
							li.footer-menu__item
								a(href="javascript:void(0)").site-footer__link.site-footer__link--text Пункт 5
					li.footer-menu__item
						a(href="javascript:void(0)").site-footer__link Ссылка 1
					li.footer-menu__item
						a(href="javascript:void(0)").site-footer__link Ссылка 2
					li.footer-menu__item
						a(href="javascript:void(0)").site-footer__link Ссылка 3
					li.footer-menu__item
						a(href="javascript:void(0)").site-footer__link Ссылка 4

			.site-footer__column
				a(href="tel:70000000000").site-footer__phone.site-footer__link +7 (000) 000-00-00
				.site-footer__contact
					a(href="javascript:void(0)").site-footer__link
						svg 
							use(xlink:href=`img/sprites/sprite.svg#phone_icon`)
						span Заказать звонок
				.site-footer__contact
					a(href="mailto:company@mail.ru").site-footer__link
						svg 
							use(xlink:href=`img/sprites/sprite.svg#mail_icon`)
						span company@mail.ru

				.site-footer__address
					.site-footer__subtitle Адрес компании
					.site-footer__text 000000, Регион обл., г. Город, ул. Улица, д. 00

		.site-footer__bottom
			.site-footer__column
				.site-footer__text © 2024 Все права защищены
			.site-footer__column
				a(href="").site-footer__link.site-footer__link--text Политика конфиденциальности
