.btn {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 35px;
    padding: 6px 26px;
    width: fit-content;
    min-width: 240px;
    min-height: 50px;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;

    @include max(1024) {
        gap: 35px;
        padding: 13px 26px;
        min-width: 240px;
        min-height: 50px;
        border-radius: 15px;
    }
    @include max(768) {
        gap: 15px;
        padding: 13px 20px;
        min-width: 100%;
        min-height: 50px;
        border-radius: 15px;
    }
    &__text {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.17em;
        color: inherit;
        transition: all 0.3s linear;

        @include max(1024) {
            font-size: 16px;
        }
        @include max(768) {
            font-size: 16px;
        }
    }
    &__icon {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 34px;
            height: 34px;
            color: inherit;
            transition: all 0.3s linear;

            @include max(1024) {
                width: 24px;
                height: 24px;
            }
            @include max(768) {
                width: 24px;
                height: 24px;
            }
        }
    }

    &__arrow {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 7px;
            height: 10px;
            color: inherit;

            @include max(1024) {
                width: 7px;
                height: 10px;
            }
        }
    }
}

.btn.btn--transparent {
    border: 2px solid blue;
    color: blue;
    background-color: transparent;
    transition: all 0.3s linear;
    @include hover(){
        color: white;
        background-color: blue; 
        border-color: blue;
    }
}

.btn.btn--white {
    background-color: white;
    color: blue;
    border: none;
    transition: all 0.3s linear;
    @include hover(){
        background-color: blue;
        color: white;
    }
}

.btn.btn--blue {
    background-color: blue;
    background-image: $c-gradient-blue;
    color: white;
    border: none;
    @include hover(){
        background-image: $c-gradient-blue-reverse;
    }
}

.btn.btn--link {
    border: none;
    padding: 0;
    min-width: fit-content;
    flex-direction: row-reverse;
    gap: 20px;
    color: black;
    @include hover(){
        background-color:transparent;
        .btn__text,
        .btn__icon {
            color: blue; 
        }
    }
}
.btn.btn--icon {
    border: none;
    padding: 6px;
    min-width: 50px;
    color: blue;
    border: 2px solid #e5e5e5;
    .btn__icon {
        svg {
            width: 25px;
            height: 25px;
            color: inherit;

            @include max(1024) {
                width: 25px;
                height: 25px;
            }
            @include max(768) {
                width: 25px;
                height: 25px;
            }
        }
    }
}

.btn.btn--revers {
    flex-direction: row-reverse;
    justify-content: space-between;
}