.container {
    padding-top: 200px;
    padding-bottom: 200px;
}

.component-preview {
    &__title {
        margin-bottom: 20px;
    }
    &__flex {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.titles {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

.form-page {
    &__container {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .form {
        max-width: 420px;
    }

}

.breadcrumbs-page,
.buttons-page {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

.buttons-page {
    background-color: linen;
}